@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #1a1a1a;
	font-family: "Poppins", sans-serif;
	background-color: #f9f9f9;
	color: #333;
	line-height: 1.5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6.25rem;
	overflow: hidden;
	box-sizing: border-box;
}

form {
	background-color: #1a1a1a;
	padding: 2rem;
	border-radius: 0.5rem;
	border: 0.0625rem solid #333;
	width: 40%;
	box-shadow: 0rem 0rem 0.375rem rgb(51, 51, 51);
	padding: 1.5rem;
	box-sizing: border-box;
}
@media (max-width: 820px) {
	form {
		width: 50%;
	}
}

form .flex {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

label {
	font-weight: bold;
	color: #e5e5e5;
}

input,
select {
	background-color: #1a1a1a;
	color: #e5e5e5;
	width: 100%;
	padding: 0.75rem;
	margin-top: 0.5rem;
	border: 0.0625rem solid #333;
	border-radius: 0.25rem;
	font-size: 1rem;
}
input:disabled,
select:disabled {
	background-color: #e5e5e5;
	color: #333;
}

input:focus,
select:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
}

.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: #fff;
	padding: 0.5rem 0.2rem;
	font-size: 0.8rem;
	font-weight: bold;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	width: 3rem;
	transition: background-color 0.3s ease;
}

.close-button:hover {
	background-color: #302e3b;
}

button,
.btn {
	background-color: #033581;
	color: #fff;
	padding: 0.5rem 1.5rem;
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	border: none;
	width: 100%;
	border-radius: 0.1875rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover,
.btn:hover {
	background-color: #007bff;
}

.error {
	font-size: 0.875rem;
	color: #e63946;
	margin-top: 0.25rem;
}

/* Fieldset and Legend */
fieldset {
	border-radius: 0.5rem;
	padding: 2rem;
	width: 100%;
	color: #e5e5e5;
	max-width: 31.25rem;
	background-color: #1a1a1a;
	box-shadow: 0.25rem 0.25rem 0.375rem rgb(51, 51, 51);
	margin-bottom: 1rem;
}

legend {
	font-size: 1rem;
	color: #fff;
	background-color: #1a1a1a;
	border-radius: 0.1875rem;
	padding: 0.3rem 1rem;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.cont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cont .margin-right {
	margin-right: 1rem;
	display: inline-block;
}

p {
	font-size: 1rem;
	margin: 0;
}

/* Buttons */
button.home-link {
	background-color: #28a745;
}

button.home-link:hover {
	background-color: #1c7430;
}

/* Links */
a {
	text-decoration: none;
	color: inherit;
}
a.not-found {
	text-decoration: underline;
}
a.not-found:hover {
	color: blue;
}
.url {
	margin: 1rem 0;
}

/* Header */
header {
	background-color: #121212;
	color: #fff;
	padding: 1rem 2rem;
	box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav .right p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: bold;
	text-transform: uppercase;
}

.display-list {
	box-shadow: 0.25rem 0.25rem 0.375rem rgb(37, 37, 37);
	width: 80%;
	overflow-x: auto;
	border: none;
	border-radius: 0.625rem;
	min-width: 14.375rem;
}

table {
	border: none;
	width: 100%;
	border-collapse: collapse;
	background-color: #121212;
	border-radius: 0.5rem;
	overflow: hidden;
}

th,
td {
	padding: 0.75rem;
	text-align: left;
	border: 0.0625rem solid #333;
}

th {
	background-color: #033581;
	color: #e5e5e5;
	font-weight: bold;
}

tr,
thead {
	color: #e5e5e5;
}

tr:nth-child(even) {
	background-color: #1a1a1a;
}

.empty {
	text-align: center;
	color: #999;
	font-style: italic;
	padding: 1rem 0;
}

/* Check-in Section */
.check-in {
	margin-top: 1.5rem;
	text-align: center;
}

.register {
	margin: 3rem 0;
}

.group-info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	min-width: 50%;
	gap: 1rem;
	margin-bottom: 2rem;
}

.course-code,
.group-id,
.refresh-btn {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-wrap: none;
	white-space: nowrap;
	background-color: #121212;
}

.refresh-btn:active {
	background-color: #003d80;
	transform: scale(1);
}

footer {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	font-weight: 300;
	font-size: 0.7rem;
}

@media (max-width: 48rem) {
	nav h1 {
		text-align: center;
	}

	.group {
		flex-direction: column;
		gap: 0.5rem;
	}

	.cont {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	th,
	td {
		font-size: 0.875rem;
	}

	th:nth-child(4),
	td:nth-child(4) {
		display: none;
	}

	form {
		min-width: 21.875rem;
	}

	.check-in .btn {
		padding: 0.75rem 1.5rem;
		font-size: 0.875rem;
	}

	.display-list {
		overflow-x: auto;
	}
}

@media (max-width: 25rem) {
	main {
		margin-top: 5rem;
	}

	nav h1 {
		font-size: 1.2rem;
		text-align: center;
	}

	form {
		padding: 1rem;
		min-width: 15.625rem;
	}

	input,
	select {
		padding: 0.5rem;
		font-size: 0.75rem;
	}

	button {
		width: 100%;
		font-size: 0.7rem;
		letter-spacing: 0.1rem;
		padding: 0.5rem;
	}

	th,
	td {
		font-size: 0.75rem;
		padding: 0.5rem;
	}

	th:nth-child(4),
	th:nth-child(5),
	td:nth-child(4),
	td:nth-child(5) {
		display: none;
	}

	fieldset {
		padding: 1rem;
	}

	.group-info {
		align-items: center;
		font-size: 0.75rem;
	}
	.group-info div {
		padding: 0.5rem;
	}
	.group-id,
	.course-code {
		font-size: 0.5rem;
	}

	.check-in .btn {
		padding: 0.5rem 1rem;
		font-size: 0.75rem;
	}

	footer p {
		font-size: 0.7rem;
	}
}

@media (max-width: 450px) {
	nav .right p {
		display: none;
	}
}

.error-alert-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 25rem;
	z-index: 50;
	position: fixed;
	top: 2rem;
}

@media (max-width: 40rem) {
	.error-alert-container {
		width: 20rem;
		font-size: 0.875rem;
	}
}

.error-alert {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #232531;
	border-radius: 0.5rem;
	padding: 0.625rem;
}

.alert-content {
	display: flex;
	gap: 0.5rem;
}
.alert-title {
	color: white;
	font-weight: bold;
}
.alert-description {
	font-size: 0.8rem;
}
.icon-container {
	color: #d65563;
	padding: 0.25rem;
	display: flex;
	align-items: center;
}

.icon {
	width: 1.2rem;
	height: 1.2rem;
}

.alert-text {
	font-size: 0.875rem;
	color: #cccccc;
	text-align: left;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(107, 107, 107, 0.9);
	min-height: 100vh;
	height: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #333;
	color: #e5e5e5;
	padding: 2rem;

	border-radius: 0.625rem;
}
.details {
	margin: 1rem;
}
.details div {
	font-size: 0.8rem;
	text-transform: capitalize;
}
.details span {
	font-weight: bold;
}
.container .message {
	font-size: 0.8rem;
	margin-top: 1rem;
	text-align: center;
}
.buttons {
	display: flex;
}
button.no {
	margin-right: 1rem;
	background-color: #e63946;
	padding-left: 2rem;
	padding-right: 2rem;
}
button.no:hover {
	background-color: #ba3c46;
}
button.yes {
	margin-right: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.date {
	margin-top: 3rem;
}

@media print {
	th:nth-child(4),
	td:nth-child(4) {
		display: none;
	}
	.register.btn {
		display: none;
	}
}
